.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  background-color: rgba(61, 61, 82, 0.849);
  padding: 25px;
  border-radius: 2px;
}
.about-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact {
  background-color: rgba(61, 61, 82, 0.849);
  border-radius: 3px;
}
.contact-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 25px;
}
.contact-list > li {
  padding: 10px;
}
.gh-link {
  color: aqua;
}
.linkedIn-link {
  color: aqua;
}

.gh-link:hover,
.linkedIn-link:hover {
  color: aliceblue;
}

.devicon-github-original,
.devicon-linkedin-plain {
  font-size: 46px;
}
