.clock-container {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: "timer";
}
@media only screen and (max-width: 950px) {
  .clock-container {
    order: 4;
  }
}
