body {
  margin: 0;
  background-color: rgba(123, 72, 170, 0.747);
}
.img-div {
  background-color: rgba(123, 72, 170, 0.747);
  height: 100%;
  width: auto;
}
.main-section {
  position: relative;
  height: 100vh;
}
.poe-img {
  height: auto;
  width: 100%;
}
