.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: rgba(61, 61, 82, 0.849);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 20%;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #af6025;
  border-bottom: solid 3px;
}
.find-these-nav {
  font-size: 22px;
  letter-spacing: -1px;
  color: aqua;
}
.findme-nav {
  margin: 15px;
}
