.selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.select-list {
  font-family: "Poppins", sans-serif;

  border-radius: 3px;
  padding: 0;
}
.select-list > li {
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  color: black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  list-style: none;

  border-radius: 3px;
}
.select-option1 {
  border-bottom: solid 2px;
}
.select-option2 {
  border-bottom: solid 2px;
}
.select-list > li:hover {
  background-color: antiquewhite;
}
